/*
* @Author: lenovo
* @Date:   2017-12-02 14:46:41
* @Last Modified by:   lenovo
* @Last Modified time: 2017-12-05 08:32:44
*/
*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	font-style: normal;
}
i{
	font-style: normal;
}